html, body {
  margin:0;
  padding:0;

}

#container{
  display: flex;
  position: relative;
  flex-direction: column;
  width:100vw;
  height:100vh;
  background-color: azure;
  overflow-y: hidden;
}

#header{
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
}

#content {
  flex: 10;
  display: flex;
  position: relative;
  background-color: white;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#itembox {
  position: absolute;
  width:600px;
  height:400px;
  margin-left: 50%;
  left: -300px;
  top: 100%;
  transition: all .3s ease;
  border-radius: 50px;
  background: white;
  display: flex;
  padding: 10px;
}

#itemback{
  position: absolute;
  top:0;
  left: 0;
  width:100vw;
  height:100vh;
  background: rgba(128, 128, 128, 0.8);
}

#popupbtn {
  background-color: rgb(18, 168, 168);
  position: absolute;
  display: table;
  right:15px;
  bottom:15px;
  width:80px;
  height:80px;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
}

#popupbtn > p {
  display: table-cell;
  vertical-align: middle;
}

#user {
  flex:1;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#usercont {
  flex:1;
  position: relative;
  width:'100%';
  height:'100%';
  margin: 10px;
  background-color: white;
  overflow-y: scroll;
}

#icon {
  position: relative;
  width:100px;
  height:100%;
  margin-left: 20px;
  border-radius: 40px;
  background-color: beige;
  text-align: center;
}

#mainCont {
  position: absolute;
  width:700px;
  height:80%;
  display: flex;
  align-items: center;
  background-color: blanchedalmond;
  justify-content: center;
}

.mainContItem {
  position: relative;
  text-align: center;
  width:400px;
  margin: 5px;
  height:385px;
  border: 1px solid black;
}

#closebtn {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: gray;
  width:30px;
  height:30px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

.listitem {
  position: relative;
  widows: 100%;
  height:50px;
  background-color: coral;
  border-radius: 5px;
  margin-bottom: 5px;
}

.listitem:hover {
  background-color: rgb(218, 99, 56);
}

.boardlist {
  background-color: cornflowerblue;
  position: relative;
  width:100%;
  height:150px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.boardlist:hover {
  background-color: rgb(86, 134, 221);
}

.hopeitem {
  position: relative;
  width:100%;
  height:40px;
  background-color: cornflowerblue;
}

#modal {
  position: absolute;
  width:400px;
  height:500px;
  background-color: white;
  margin-left: 50%;
  left:-200px;
  margin-top: 50vh;
  top:-250px;
  border-radius: 10px;
}

#modalback {
  background-color: black;
  position: absolute;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
}

.hidden {
  display: none;
}

.btn-normal {
  background-color: darkcyan;
  border-radius: 5px;
  width:100px;
  height:50px;
  position: absolute;
  right:0;
  bottom: 0;
  cursor: pointer;
}

#loginbtn {
  position: absolute;
  right:10px;
  cursor: pointer;
}